---
import Card from "@components/Card.astro";
import projects from "@contents/projects_en.json";
import Layout from "@layouts/Layout.astro";

import type { languageList } from "src/i18n/ui";
import { useTranslations } from "src/i18n/utils";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);
---

<Layout title="Projects">
  <section class="bg-hero bg-fixed bg-center bg-no-repeat">
    <div class="mx-auto min-h-screen max-w-5xl p-4">
      <div class="rounded-2xl bg-white-general bg-opacity-60 p-5">
        <div
          class="prose max-w-none pb-8 text-justify text-sm text-black lg:text-base"
        >
          <h1 class="pl-5 uppercase">{t("pro.title")}</h1>
          <p>
            {t("pro.des")}
          </p>
          <span>{t("pro.span")}</span>
        </div>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
          {
            projects.map((project) => (
              <Card
                key={project.id}
                title={project.name}
                description={project.description}
                image={project.image}
                position="justify-end"
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
