---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ingenieria">
  <section class="bg-hero bg-fixed bg-center bg-no-repeat">
    <div class="mx-auto min-h-screen max-w-5xl p-4">
      <div
        class="flex flex-col gap-6 rounded-2xl bg-white-general bg-opacity-60 p-5"
      >
        <div
          class="prose max-w-none text-justify text-sm text-black lg:text-base"
        >
          <h1 class="pl-5 uppercase">Ingenieria</h1>
          <p>
            Nuestro enfoque por ofrecer siempre la máxima calidad y la
            satisfacción de nuestros clientes es el motor que nos impulsa a
            mantenernos a la vanguardia de las nuevas tecnologías, en una
            búsqueda constante de soluciones de ingeniería eficientes,
            ecológicas, adaptables al medio ambiente y económicas.
          </p>
          <span>Algunos ejemplos de nuestra ingeniería y mas: </span>
        </div>

        <article class="rounded-2xl bg-blue-200 bg-opacity-40 p-5">
          <div class="flex flex-col justify-center gap-4 md:flex-row-reverse">
            <div
              class="prose self-center text-justify text-sm text-black lg:text-base"
            >
              <h3 class="text-blue-900">
                Diseño 3D del Condominio Biosostenible Yori
              </h3>
              <p>
                Construido en una zona de amortiguamiento su serio compromiso
                con el entorno, la flora y la fauna del lugar hacen de este un
                muy rico ejemplo de convivencia humano-ambiental. Las soluciones
                constructivas y materiales empleados han sido elegidos y
                desarrollados para lograr la sostenibilidad del proyecto y su
                adaptación al medio ambiente.
              </p>
            </div>
            <img
              class="h-auto w-[580px] rounded-2xl object-cover md:w-96 lg:h-72 lg:w-full"
              src="ingenieria/IMG-20191125-WA0011.jpeg"
              alt="Condominio Biosostenible Yori"
            />
          </div>
        </article>

        <article class="rounded-2xl bg-blue-200 bg-opacity-40 p-5">
          <div class="flex flex-col justify-center gap-4 md:flex-row-reverse">
            <div
              class="prose self-center text-justify text-sm text-black md:w-1/2 lg:text-base"
            >
              <h3 class="text-blue-900">Diseño 3D de Iglesia en Tarapoto</h3>
              <p>
                Mediante la incorporación de nuevas tecnologías y conceptos se
                logra el rediseño y mejoramiento de edificaciones y espacios
                antiguos, con diseños innovadores y futuristas que modernizan y
                enriquecen su arquitectura y que otorguen valor y protagonismo
                de los mismos en la región, al mismo tiempo que se preserva el
                atractivo cultural e histórico de la población lugareña.
              </p>
            </div>
            <img
              class="h-72 w-[468px] flex-1 rounded-2xl object-cover md:w-96 lg:h-72 lg:w-[469px]"
              src="ingenieria/IMG-20191114-WA0014.jpg"
              alt="Iglesia de Tarapoto"
            />
          </div>
        </article>

        <article class="rounded-2xl bg-blue-200 bg-opacity-40 p-5">
          <div class="flex flex-col justify-center gap-4 md:flex-row-reverse">
            <div
              class="prose self-center text-justify text-sm text-black md:w-1/2 lg:text-base"
            >
              <h3 class="text-blue-900">
                Diseño de estructuras y armaduras especiales
              </h3>
              <p>
                En este campo la ingeniería de detalle es determinante,
                explotando al máximo las bondades del material y cuidando los
                limites del mismo. Conocer la naturaleza intima de la materia y
                su versatilidad permite crear aleaciones eficientes para
                soluciones estructurales de gran demanda. Ejemplo de esto es la
                armadura especial diseñada para la entrada principal del
                Hospital de Tarapoto.
              </p>
            </div>
            <img
              class="h-72 w-[468px] flex-1 rounded-2xl object-cover md:w-96 lg:h-72 lg:w-[469px]"
              src="ingenieria/20160420_113555.jpg"
              alt=""
            />
          </div>
        </article>

        <article class="rounded-2xl bg-blue-200 bg-opacity-40 p-5">
          <div class="flex flex-col justify-center gap-4 md:flex-row-reverse">
            <div
              class="prose self-center text-justify text-sm text-black md:w-1/2 lg:text-base"
            >
              <h3 class="text-blue-900">
                Primera carretera en el Perú construida bajo el sistema de
                petrificación de suelos
              </h3>
              <p>
                Tras ensayos y pruebas encontramos la solución mas viable para
                el 90% del suelo peruano, la estabilización con copolímeros, una
                tecnología de muy alta eficiencia y rendimiento, aprobada por el
                MTC, que aglomera partículas finas en un proceso irreversible de
                petrificación, lo que dota de mucha mayor resistencia al suelo.
              </p>
            </div>
            <img
              class="w-[482px] rounded-2xl object-cover md:h-72 lg:w-[502px]"
              src="ingenieria/Obra en Anchas 05.jpeg"
              alt=""
            />
          </div>
        </article>
      </div>
    </div>
  </section>
</Layout>
