---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Nosotros">
  <section class="bg-hero bg-fixed bg-center bg-no-repeat">
    <div class="mx-auto min-h-screen max-w-5xl p-4">
      <div
        class="flex flex-col gap-3 rounded-2xl bg-white-general bg-opacity-60 p-5 md:gap-6"
      >
        <article class="prose max-w-none text-sm lg:text-base">
          <h1 class="uppercase md:pl-5">Nuestra Empresa</h1>
          <div class="flex flex-col justify-center gap-4 md:flex-row">
            <div class="text-justify text-black md:mt-4">
              <p class="">
                <span class="font-bold"
                  >Omegha Constructor Building Co. S.A.C.</span
                > es una empresa orientada a la industria de la construcción, desarrollando
                consultorías y proyectos de todo el ámbito de la ingeniería y la
                arquitectura, así como la construcción de obras civiles, obras de
                saneamiento, obras electromecánicas, puentes y carreteras, y servicios
                de construcción de edificación e inmobiliarios.
              </p>
              <p class="">
                También nos dedicamos al mantenimiento de infraestructura,
                administración de mantenimiento de edificios, saneamiento legal
                de Inmuebles; y brindamos soluciones informáticas para el
                e-Marketing y el negocio electrónico.
              </p>
            </div>
            <img
              class="h-72 w-auto rounded-2xl md:self-center"
              src="nosotros/nosotros001.jpg"
              alt="Omegha Nosotros"
            />
          </div>
        </article>

        <article class="rounded-2xl bg-green-nosotros bg-opacity-40 p-5">
          <div class="flex flex-col justify-center gap-4 md:flex-row-reverse">
            <div class="prose text-justify text-sm text-black lg:text-base">
              <h2 class="pl-5 uppercase text-blue-900">Mision</h2>
              <p>
                Basándonos en las necesidades de infraestructura y de espacios
                y/o instalaciones productivas, ofrecer soluciones ingenieriles
                y/o inmobiliarias de alta calidad mediante la continua
                innovación en el diseño, una búsqueda permanente de nuevas y
                mejores tecnologías, el perfeccionamiento de los procesos
                constructivos y el servicio personalizado a nuestros clientes.
              </p>
            </div>
            <img
              class="h-48 w-auto rounded-2xl md:h-auto md:w-96 lg:h-72 lg:w-full"
              src="nosotros/nosotros002.jpg"
              alt=""
            />
          </div>
        </article>

        <article class="rounded-2xl bg-orange-nosotros bg-opacity-40 p-4">
          <div class="flex flex-col justify-center gap-4 md:flex-row">
            <div class="prose text-justify text-sm text-black lg:text-base">
              <h2 class="pl-5 uppercase text-blue-900">Vision</h2>
              <p>
                Consolidarnos como la mayor solución de calidad ingenieril de
                construcción en el oriente peruano, contribuyendo al desarrollo
                de la región generando valor con nuestras obras y proyectos.
              </p>
            </div>
            <img
              class="h-48 w-auto rounded-2xl md:h-auto md:w-96 lg:h-72 lg:w-full"
              src="nosotros/nosotros003.jpg"
              alt=""
            />
          </div>
        </article>

        <article
          class="prose max-w-none text-sm text-black marker:text-black lg:text-base"
        >
          <h2 class="uppercase text-blue-900 md:pl-5">Nuestros Valores</h2>
          <p>
            En <span class="font-bold"
              >Omegha Constructor Building Co. S.A.C.</span
            > partimos de dos principios fundamentales:
          </p>
          <ol type="a">
            <li>El Respeto por el medio en que se interviene, y</li>
            <li>El Respeto por las etnias que habitan el lugar.</li>
          </ol>
          <p>
            Nuestra empresa desarrolla proyectos amigables con la naturaleza,
            respetando sus riquezas, biodiversidad, paisajes, microclimas y las
            actividades productivas de los pobladores lugareños.
          </p>
        </article>

        <article
          class="prose max-w-none rounded-2xl bg-blue-nosotros bg-opacity-40 p-3"
        >
          <div
            class="flex flex-col-reverse justify-center gap-4 md:flex-row-reverse"
          >
            <div class="text-justify text-sm text-black lg:text-base">
              <p>
                Asimismo, respetamos en nuestros proyectos, las costumbres, el
                folklore y las manifestaciones culturales de la población
                lugareña.
              </p>
              <p>
                Es de esta forma que nuestras soluciones ingenieriles y
                constructivas armonizan con el medio sin dañarlo o modificarlo
                sensiblemente, e impulsan el crecimiento sostenible, ordenado y
                permanente de las actividades productivas y económicas de la
                población. Mejorando su calidad de vida, potenciando su
                productividad, y generando valor.
              </p>
            </div>
            <img
              class="not-prose h-48 w-auto rounded-2xl md:h-auto md:w-96 lg:h-72"
              src="nosotros/valores001.jpg"
              alt="Omegha Nosotros"
            />
          </div>
        </article>

        <article
          class="max-w-none rounded-2xl bg-purple-nosotros bg-opacity-40 p-3"
        >
          <div class="flex flex-col-reverse justify-center gap-4 md:flex-row">
            <div
              class="p-1 text-justify text-sm text-black md:p-0 lg:text-base"
            >
              <p class="prose text-sm text-black lg:text-base">
                Nos debemos a nuestro producto, y ello nos compromete a buscar
                permanentemente la excelencia en todos nuestros quehaceres y
                servicios.
              </p>
              <p class="my-2">Al interior de nuestra organización,</p>
              <div class="my-4 flex flex-row gap-4 text-left">
                <ul class="list-none">
                  <li class="before:mr-1 before:content-['✓']">
                    La Honestidad.
                  </li>
                  <li class="before:mr-2 before:content-['✓']">El Orden.</li>
                  <li class="before:mr-1 before:content-['✓']">
                    La Sencillez.
                  </li>
                  <li class="before:mr-1 before:content-['✓']">
                    La Vocacion Profesional.
                  </li>
                </ul>
                <ul class="list-none">
                  <li class="before:mr-1 before:content-['✓']">
                    La Responsabilidad.
                  </li>
                  <li class="before:mr-1 before:content-['✓']">
                    La Disciplina.
                  </li>
                  <li class="before:mr-1 before:content-['✓']">
                    La Presicion.
                  </li>
                  <li class="before:mr-1 before:content-['✓']">
                    La constante innovacion
                  </li>
                </ul>
              </div>
              <p class="prose text-sm text-black lg:text-base">
                Son nuestra impecable constante y se conjugan para obtener
                nuestro mejor producto al servicio de usted.
              </p>
            </div>
            <img
              class="h-48 w-auto rounded-2xl md:h-auto md:w-96 lg:h-72"
              src="nosotros/valores002.jpg"
              alt="Omegha Nosotros"
            />
          </div>
        </article>
      </div>
    </div>
  </section>
</Layout>
