---
import Layout from "@layouts/Layout.astro";
import services from "@contents/services.json";
import Card from "@components/Card.astro";
---

<Layout title="Servicios">
  <section class="bg-hero bg-fixed bg-center bg-no-repeat">
    <div class="max-w-5xl mx-auto min-h-screen py-4">
      <div class="rounded-2xl bg-white-general bg-opacity-60 p-5">
        <div class="prose max-w-none pb-8">
          <h1 class="pl-5 uppercase">Consultoría y Construcción</h1>
        </div>
        <div class="grid grid-cols-2 gap-2">
          {
            services.map((service) => (
              <Card
                key={service.id}
                title={service.name}
                description={service.description}
                image={service.image}
                position="justify-center"
              />
            ))
          }
        </div>
        <div class="prose max-w-4xl text-black pt-8 mx-auto">
          <h2 class="uppercase text-blue-900">
            Servicios de arquitectura, urbanismo y diseño
          </h2>
          <p>
            Ofrecemos servicios de elaboración y diseño de planos
            arquitectónicos para viviendas unifamiliares, multifamiliares y para
            toda clase de edificaciones residenciales y/o comerciales. Manejamos
            un programa tridimensional para generar vistas en 3d que usted vea
            cómo quedará el diseño antes de su construcción, logrando así un
            diseño personalizado y un desarrollo del proyecto integral
            ajustándonos a las necesidades del cliente y a su presupuesto.
          </p>
          <div>
            <figure>
              <img
                class="w-full h-96 rounded-lg shadow-lg"
                src="/servicios/comercial.jpg"
                alt="Centro Comercial"
              />
              <figcaption
                class="text-black text-center text-base font-semibold"
              >
                Diseño de un centro Comercial de 3 plantas proyectado para un
                terreno con pendiente de inclinación
              </figcaption>
            </figure>

            <figure>
              <img
                class="w-full h-96 rounded-lg shadow-lg"
                src="/servicios/comercial.jpg"
                alt="Centro Comercial"
              />
              <figcaption
                class="text-black text-center text-base font-semibold"
              >
                Diseño y modelado en 3D de pistas pavimentadas para la Nueva Vía
                de Evitamiento de Huancayo en el Perú
              </figcaption>
            </figure>

            <figure>
              <img
                class="w-full h-96 rounded-lg shadow-lg"
                src="/servicios/arquitectura003.png"
                alt="Servicios arquitectura"
              />
              <figcaption
                class="text-black text-center text-base font-semibold"
              >
                Diseño y modelado en 3D para un Centro de Acogida Residencial
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
