<footer class="mt-auto bg-slate-50 text-black">
  <div class="max-w-5xl mx-auto flex flex-row justify-between py-8">
    <div>
      <h2 class="uppercase font-bold pl-3">Ubíquenos en:</h2>
      <ul>
        <li class="mt-4">
          <span class="font-bold pl-3">Oficina Tarapoto</span>
          <figure class="flex flex-row items-center">
            <img src="/footer/Imagen3.png" alt="Ubicación" />
            <figcaption>Jr. Tacna N°348, Barrio Huayco</figcaption>
          </figure>
        </li>
        <li class="mt-4">
          <span class="font-bold pl-3">Oficina Lima</span>
          <figure class="flex flex-row items-center">
            <img src="/footer/Imagen3.png" alt="Ubicación" />
            <figcaption>Calle José Gonzáles N°668, Miraflores</figcaption>
          </figure>
        </li>
      </ul>
    </div>

    <div>
      <h2 class="uppercase font-bold pl-3">Escribanos en:</h2>
      <ul>
        <li class="flex flex-row items-center mt-4">
          <img src="/footer/Imagen1.png" alt="Ícono de WhatsApp" />
          <span
            >WhatsApp: <a href="https://wa.me/51996723157">(+51) 996 723 157</a
            ></span
          >
        </li>
        <li class="flex flex-row items-center">
          <img src="/footer/Imagen2.png" alt="Ícono de correo" />
          <span
            >Email: <a
              class="text-green-400"
              href="mailto:contacto@omeghaconstructor.com"
              >contacto@omeghaconstructor.com</a
            ></span
          >
        </li>
      </ul>
      <h2 class="uppercase font-bold pl-3 mt-4">Nuestra Web:</h2>
      <p class="flex flex-row items-center">
        <img src="/footer/Imagen4.png" alt="Ícono de página web" />
        <a href="https://www.omeghaconstructor.com">www.omeghaconstructor.com</a
        >
      </p>
    </div>
  </div>
</footer>
