---
const year = new Date().getFullYear();
---

<footer class="mt-auto bg-gray-950 text-white" transition:animate="none">
  <div
    class="mx-auto flex flex-col justify-evenly py-4 text-sm md:flex-row lg:max-w-5xl lg:text-base"
  >
    <div class="p-2">
      <h2 class="container pl-5 font-bold uppercase">Ubiquenos en:</h2>
      <p class="mt-2 pl-5 font-semibold">Oficina Tarapoto</p>
      <span class="flex flex-row items-center gap-2"
        ><img src="/footer/Imagen3.png" alt="Ubicacion" /> Jr. Tacna Nº 348, Barrio
        Huayco
      </span>
      <p class="mt-2 pl-5 font-semibold">Oficina Lima</p>
      <span class="flex flex-row items-center gap-2"
        ><img src="/footer/Imagen3.png" alt="Ubicacion" /> Calle José Gonzáles N°
        668, Miraflores
      </span>
    </div>

    <div class="p-2">
      <h2 class="pl-5 font-bold uppercase">Escribanos en:</h2>
      <span class="mt-2 flex flex-row items-center gap-2"
        ><img src="/footer/Imagen1.png" alt="WhatsApp" /> WhatsApp:
        <a
          href="https://wa.me/51996723157"
          target="_blank"
          class="transition-colors duration-300 ease-in-out hover:text-green-300"
        >
          (+51) 996 723 157
        </a>
      </span>
      <span class="flex flex-row items-center gap-2"
        ><img src="/footer/Imagen2.png" alt="Correo" /> Email:
        <a
          href="mailto:contacto@omeghaconstructor.com"
          class="transition-colors duration-300 ease-in-out hover:text-green-300"
        >
          contacto@omeghaconstructor.com
        </a>
      </span>
      <div class="mt-2">
        <h2 class="pl-5 font-bold uppercase">Nuestra web:</h2>
        <span class="flex flex-row items-center gap-2"
          ><img src="/footer/Imagen4.png" alt="Ubicacion" />
          www.omeghaconstructor.com
        </span>
      </div>
    </div>
  </div>
  <div class="bg-slate-200 py-4 text-center text-sm text-black lg:text-base">
    <span
      >Omegha Constructor's Building Co. S.A.C ©{year} Todos los derechos reservados</span
    >
  </div>
</footer>
