<header>
  <div class="max-w-5xl mx-auto flex flex-col items-center py-2">
    <div class="flex justify-between w-full items-center">
      <a href="/">
        <img class="w-auto h-14" src="/header/logo.png" alt="Logo Omegha" />
      </a>
      <div class="flex gap-2">
        <img class="w-auto h-10" src="/header/spain.svg" alt="Español" />
        <img class="w-auto h-10" src="/header/usa.svg" alt="Ingles" />
      </div>
    </div>
  </div>
  <nav class="w-full bg-btnr-pattern bg-bottom bg-repeat-x">
    <ul
      class="max-w-5xl mx-auto flex items-start uppercase py-2 text-sm font-semibold gap-4"
    >
      <li
        class="px-7 py-1 hover:bg-btnr-over hover:text-white transition-colors"
      >
        <a href="/">Inicio</a>
      </li>
      <li
        class="px-7 py-1 hover:bg-btnr-over hover:text-white transition-colors"
      >
        <a href="/nosotros">Nosotros</a>
      </li>
      <li
        class="px-7 py-1 hover:bg-btnr-over hover:text-white transition-colors"
      >
        <a href="/ingenieria">Ingeniería</a>
      </li>
      <li
        class="px-7 py-1 hover:bg-btnr-over hover:text-white transition-colors"
      >
        <a href="/proyectos">Proyectos</a>
      </li>
      <li
        class="px-7 py-1 hover:bg-btnr-over hover:text-white transition-colors"
      >
        <a href="/servicios">Servicios</a>
      </li>
      <li
        class="px-7 py-1 hover:bg-btnr-over hover:text-white transition-colors"
      >
        <a href="/contacto">Contáctenos</a>
      </li>
    </ul>
  </nav>
</header>
