<div
  class="h-96 w-full animate-slide-left overflow-hidden rounded-lg border-2 border-slate-950 lg:animate-slide-left-desktop"
>
  <gmp-map
    center="-7.6388124,-73.2083984"
    zoom="5"
    map-id="OmeghaConstructor"
    class="h-full w-full"
  >
    <gmp-advanced-marker
      position="-6.4958479,-76.3649218"
      title="Tarapoto, Peru"></gmp-advanced-marker>
    <gmp-advanced-marker position="-12.1297514,-77.0299217" title="Lima, Peru"
    ></gmp-advanced-marker>
  </gmp-map>
</div>
