---
import Layout from "@layouts/Layout.astro";
import type { languageList } from "src/i18n/ui";
import { useTranslations } from "src/i18n/utils";
import Carousel from "@components/Carousel";
import PreFooter from "@components/PreFooter.astro";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);
---

<Layout title="Inicio">
  <section class="bg-hero bg-cover bg-scroll bg-no-repeat pb-5 md:bg-fixed">
    <div class="mx-auto min-h-screen p-4 lg:max-w-5xl">
      <article
        class="prose max-w-none rounded-2xl bg-white-general bg-opacity-60 p-5 text-sm text-black lg:text-base"
      >
        <h1
          class="animate-slide-right uppercase text-blue-900 md:animate-slide-right-desktop md:pl-5"
        >
          {t("index.title")}
        </h1>
        <div class="flex flex-col md:flex-row md:gap-3">
          <div class="mt-4 text-justify text-black md:w-1/2">
            <p
              class="animate-slide-right md:animate-slide-right-desktop"
              set:html={t("index.firstP")}
            />
            <p class="animate-slide-right md:animate-slide-right-desktop">
              {t("index.secondP")}
            </p>
          </div>
          <Carousel client:load />
        </div>
      </article>
    </div>
    <PreFooter />
  </section>
</Layout>
