---
import Layout from "@layouts/Layout.astro";
import type { languageList } from "src/i18n/ui";
import { useTranslations } from "src/i18n/utils";
import { Icon } from "astro-icon/components";

const valores = [
  ["Honestidad", "Orden", "Sencillez", "Vocación Profesional"],
  ["Responsabilidad", "Disciplina", "Precisión", "Constante Innovación"],
];

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);
---

<Layout title="Nosotros">
  <section class="bg-hero bg-cover bg-scroll bg-no-repeat pb-10 md:bg-fixed">
    <div class="mx-auto min-h-screen max-w-5xl p-4">
      <div
        class="flex flex-col gap-3 rounded-2xl bg-white-general bg-opacity-60 p-5 md:gap-6"
      >
        <article class="prose max-w-none text-sm lg:text-base">
          <h1 class="text-center uppercase">
            {t("about.title")}
          </h1>
          <div class="flex flex-col justify-center gap-4 md:flex-row">
            <div class="text-justify text-black md:mt-4">
              <p
                class="animate-slide-right md:animate-slide-right-desktop"
                set:html={t("about.firstP")}
              />
              <p class="animate-slide-right md:animate-slide-right-desktop">
                {t("about.secondP")}
              </p>
            </div>
            <img
              class="h-72 w-auto animate-slide-left rounded-2xl border-2 border-gray-950 md:animate-slide-left-desktop md:self-center"
              src="/nosotros/nosotros001.jpg"
              alt="Omegha Nosotros"
            />
          </div>
        </article>

        <article class="rounded-2xl bg-green-nosotros bg-opacity-40 p-5">
          <div class="flex flex-col justify-center gap-4 md:flex-row-reverse">
            <div
              class="slide-left md:anim prose text-justify text-sm text-black opacity-0 lg:text-base"
            >
              <h2 class="pl-5 uppercase text-blue-900">{t("mission.title")}</h2>
              <p>
                {t("mission.des")}
              </p>
            </div>
            <img
              class="slide-right h-48 w-auto rounded-2xl border-2 border-gray-950 opacity-0 md:h-auto md:w-96 lg:h-72 lg:w-full"
              src="/nosotros/nosotros002.jpg"
              alt="Omegha Mision"
            />
          </div>
        </article>

        <article class="rounded-2xl bg-orange-nosotros bg-opacity-40 p-4">
          <div class="flex flex-col justify-center gap-4 md:flex-row">
            <div
              class="slide-right prose invisible text-justify text-sm text-black opacity-0 lg:text-base"
            >
              <h2 class="pl-5 uppercase text-blue-900">{t("vision.title")}</h2>
              <p>
                {t("vision.des")}
              </p>
            </div>
            <img
              class="slide-left invisible h-48 w-auto rounded-2xl border-2 border-gray-950 opacity-0 md:h-auto md:w-96 lg:h-72 lg:w-full"
              src="/nosotros/nosotros003.jpg"
              alt="Omegha Vision"
            />
          </div>
        </article>
      </div>
    </div>

    <div class="bg-background-values bg-opacity-90 py-16 md:py-6">
      <div class="mx-auto max-w-5xl">
        <article
          class="prose flex max-w-none flex-col items-center space-y-16 pb-8 text-center text-sm text-slate-100 marker:text-black lg:text-lg"
        >
          <div>
            <h2
              class="slide-top invisible uppercase text-color-values opacity-0"
            >
              {t("values.title")}
            </h2>
            <p
              class="slide-top invisible px-2 opacity-0"
              set:html={t("values.des")}
            />
          </div>
          <div class="flex flex-col md:flex-row md:space-x-12">
            <div
              class="slide-right invisible flex w-60 flex-col items-center text-center opacity-0"
            >
              <Icon name="heart" class="text-4xl text-color-values" />
              <p class="font-semibold">{t("values.liF")}</p>
            </div>
            <div
              class="slide-left invisible flex w-60 flex-col items-center text-center opacity-0"
            >
              <Icon name="heart" class="text-4xl text-color-values" />
              <p class="font-semibold">{t("values.liP")}</p>
            </div>
          </div>
          <p class="slide-top px-2 text-center opacity-0 md:w-[720px]">
            {t("values.para")}
          </p>
        </article>
      </div>
    </div>

    <div class="mx-auto max-w-5xl p-4">
      <div
        class="flex flex-col gap-3 rounded-2xl bg-white-general bg-opacity-60 p-5 md:gap-6"
      >
        <article
          class="prose max-w-none rounded-2xl bg-blue-nosotros bg-opacity-40 p-3"
        >
          <div
            class="flex flex-col-reverse justify-center gap-4 md:flex-row-reverse"
          >
            <div
              class="slide-left text-justify text-sm text-black opacity-0 lg:text-base"
            >
              <p>
                {t("values.firstI")}
              </p>
              <p>
                {t("values.secondI")}
              </p>
            </div>
            <img
              class="slide-right not-prose h-48 w-auto rounded-2xl border-2 border-gray-950 opacity-0 md:h-auto md:w-96 lg:h-72"
              src="/nosotros/valores001.jpg"
              alt="Omegha Valores"
            />
          </div>
        </article>
      </div>
    </div>

    <div class="bg-purple-nosotros bg-opacity-40 py-20 md:py-10">
      <div class="mx-auto max-w-5xl">
        <article class="flex flex-col-reverse justify-center gap-4 md:flex-row">
          <div
            class="space-y-16 p-1 text-justify text-sm text-white md:p-0 lg:text-lg"
          >
            <p
              class="slide-top prose invisible text-center text-sm text-white opacity-0 lg:text-lg"
            >
              {t("values.firstS")}
            </p>
            <p
              class="slide-top invisible my-2 text-center font-semibold opacity-0"
            >
              {t("values.secondS")}
            </p>
            <div class="ml-8 grid grid-cols-2 lg:ml-32">
              {
                valores[0].map((valor, i) => (
                  <>
                    <li class="delay-${i * 300} slide-right mt-2 list-none text-left opacity-0 before:mr-1 before:content-['✔']">
                      {valor}
                    </li>
                    <li class="delay-${i * 300} slide-left mt-2 list-none text-left opacity-0 before:mr-1 before:content-['✔']">
                      {valores[1][i]}
                    </li>
                  </>
                ))
              }
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</Layout>

<script>
  function initAnimations() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            if (entry.target.classList.contains("slide-left")) {
              entry.target.classList.add("animate-slide-left");
              entry.target.classList.add("md:animate-slide-left-desktop");
            } else if (entry.target.classList.contains("slide-right")) {
              entry.target.classList.add("animate-slide-right");
              entry.target.classList.add("md:animate-slide-right-desktop");
            } else if (entry.target.classList.contains("slide-top")) {
              entry.target.classList.add("animate-slide-top");
            }
          }
        });
      },
      { threshold: 0.2 }
    );
    document
      .querySelectorAll(".slide-left, .slide-right, .slide-top")
      .forEach((el) => observer.observe(el));
  }
  document.addEventListener("astro:after-swap", initAnimations);

  if (document.readyState === "loading") {
    document.addEventListener("astro:page-load", initAnimations);
  } else {
    initAnimations();
  }
</script>
