---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import services from "@contents/services_es.json";
import PreFooter from "@components/PreFooter.astro";
//Idioma
import { useTranslations } from "src/i18n/utils";
import type { languageList } from "src/i18n/ui";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);
---

<Layout title="Servicios">
  <section class="pb-5">
    <div class="mx-auto min-h-screen max-w-5xl p-4 pb-40">
      <div class="rounded-2xl bg-white-general bg-opacity-60 p-5">
        <div class="prose max-w-none pb-8 prose-h1:text-2xl/6">
          <h1 class="uppercase text-blue-900 md:pl-5">{t("serv.title")}</h1>
        </div>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
          {
            services.map((service) => (
              <Card
                key={service.id}
                title={service.name}
                description={service.description}
                image={service.image}
                position="justify-center"
              />
            ))
          }
        </div>
        <div
          class="prose mx-auto max-w-4xl pt-8 text-sm text-black lg:text-base"
        >
          <h2
            class="slide-top text-center uppercase text-blue-900 opacity-0 md:text-left"
          >
            {t("serv.h2")}
          </h2>
          <p class="slide-top text-justify opacity-0">
            {t("serv.des")}
          </p>
          <div>
            <figure class="slide-top opacity-0">
              <img
                class="mx-auto h-48 rounded-lg border-2 border-slate-950 shadow-lg md:h-96"
                src="/servicios/comercial.webp"
                alt="Centro Comercial"
              />
              <figcaption
                class="mx-auto text-center text-sm font-semibold text-black md:w-[600px] lg:text-base"
              >
                {t("serv.para1")}
              </figcaption>
            </figure>

            <figure class="slide-top opacity-0">
              <img
                class="mx-auto h-48 rounded-lg border-2 border-slate-950 shadow-lg md:h-96"
                src="/servicios/huancayo.webp"
                alt="Centro Comercial"
              />
              <figcaption
                class="mx-auto text-center text-sm font-semibold text-black md:w-[600px] lg:text-base"
              >
                {t("serv.para2")}
              </figcaption>
            </figure>

            <figure class="slide-top opacity-0">
              <img
                class="mx-auto h-48 rounded-lg border-2 border-slate-950 shadow-lg md:h-96"
                src="/servicios/arquitectura003.webp"
                alt="Servicios arquitectura"
              />
              <figcaption
                class="text-center text-sm font-semibold text-black lg:text-base"
              >
                {t("serv.para3")}
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <PreFooter />
  </section>
</Layout>

<script>
  function initAnimations() {
    const observer = new IntersectionObserver(
      (entries, obs) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add(
              "animate-slide-top",
              "md:animate-slide-top-desktop"
            );
            obs.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.2 }
    );
    document
      .querySelectorAll(".slide-top")
      .forEach((el) => observer.observe(el));
  }
  document.addEventListener("astro:after-swap", initAnimations);

  if (document.readyState === "loading") {
    document.addEventListener("astro:page-load", initAnimations);
  } else {
    initAnimations();
  }
</script>
